body {
    background-color: rgba(47, 136, 238, 0.603);
}
.rectangle {
    background-color: white;
    width:210px;
    margin:auto;
    margin-top:100px;
    border:1px solid white;
    border-radius: 20px;
    box-shadow: 10px 5px 5px rgba(47, 136, 238, 0.603);
}
img {
    width:200px;
    margin: 5px;    
}
.text {
    text-align: center;
}
