nav a{
    text-decoration: none;
    padding: 10px;
    border: 1px solid green;
    color: black;
    background-color: #8ee4af;
}
nav a:hover{
    background-color: #5cdb95;
    border:2px solid #5cdb95;
}

h1,nav{
    text-align: center;
}
table,th,td{
    padding: 10px 10px;
    border: 1px solid black;
    border-collapse: collapse;
}
summary,section,footer,aside{
    margin-left: 30px;
}